<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761510737447-d9idtrsqc17i6mv6er7ut9g9no29514d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761510737447-d9idtrsqc17i6mv6er7ut9g9no29514d</string>
	<key>API_KEY</key>
	<string>AIzaSyDS9N0nbgnK0-J5l3Br7dhJKdHxyiN-IAo</string>
	<key>GCM_SENDER_ID</key>
	<string>761510737447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vpr.co</string>
	<key>PROJECT_ID</key>
	<string>vpr-co-project</string>
	<key>STORAGE_BUCKET</key>
	<string>vpr-co-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761510737447:ios:80bc8db7399ce0978f0002</string>
</dict>
</plist>